
h1, h2, h3, p, form, .form-label, .form-input, .form-btn, button {
    font-family: 'Coiny', sans-serif;
}

.topic-btn, .form-label, .form-input, .form-btn {
    margin: 10px;
    padding: 10px;
}

.topic-btn, .form-btn {
    border: none;
}

.topic-btn {
    font-size: large;
    background-color: blue;
    color: lightblue;
}

.topic-btn:hover {
    background-color: dodgerblue;
}

.form-btn {
    background-color: darkgoldenrod;
    color: saddlebrown
}

.form-btn:hover {
    background-color: gold;
}

.gif-wrapper {
    margin: 20px;
    float: left;
    text-align: center;
}

.gif {
    box-shadow: 10px 10px 5px #888888;
}

.playing-gif {
    box-shadow: 10px 10px 5px yellow;
}

.rating {
    margin: 15px 30px 30px 30px;
}